<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-freshburger="{{devour}}">
		{{#if sleep}}devour{{else}}eat now{{/if}}
	</button>


	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
